@import "_modules/fonts.css";
@import "_modules/variables.css";
@import "_modules/colors.css";
@import "_modules/header.css";
@import "_modules/site-nav.css";
@import "_modules/page-nav.css";
@import "_modules/waypoint.css";
@import "_layouts/l-sidebar.css";
@import "_layouts/l-stack.css";
@import "_layouts/l-scroll-block.css";

* {
  box-sizing: border-box;
  max-width: var(--measure);
  -webkit-tap-highlight-color: transparent;
}

html,
body,
div,
header,
nav,
main,
section,
aside,
footer {
  max-width: none;
}

picture {
  display: block;
}

body {
  max-width: 90rem;
  margin: 0 auto;
  padding-top: 4rem;
  font-family: var(--base-font);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  color: var(--c-neutral-800);
  hyphens: auto;
}

.h1--large,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  font-weight: bold;
  color: var(--c-neutral-800);
}

.h1--large {
  font-size: var(--h1--large-size);
  line-height: var(--h1--large-line-height);
}

h1, .h1 {
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);
}

h2, .h2 {
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);
}

h3, .h3 {
  font-size: var(--h3-size);
  line-height: var(--h3-line-height);
}

h4, .h4 {
  font-size: var(--h4-size);
  line-height: var(--h4-line-height);
}

h5, .h5 {
  font-size: var(--h5-size);
  line-height: var(--h5-line-height);
}

h6, .h6 {
  font-size: var(--h6-size);
  line-height: var(--h6-line-height);
  text-transform: uppercase;
}

@media (min-width: 32rem) {

  body {
    padding-top: 4rem;
  }
}

@media (min-width: 36rem) {

  body {
    padding-top: 6rem;
  }
}
