@import '_modules/header.css';
@import '_modules/site-nav.css';
@import './variables.css';
@import '_modules/fonts.css';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: auto;
  color: var(--color-black);
  -moz-osx-font-smoothing: auto;
  font-size: var(--text-base);
}

p {
  /* font-family: 'Apercu'; */
  font-family: 'Filosofia';
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul li,
ol li {
  list-style: none;
}
