---
title: design
layout: layouts/default
baseurl: ../
---
<main class="l-sidebar">
  <input id="js-page-nav__toggle" type="checkbox" class="page-nav__toggle">
  <label id="js-page-nav__label" for="js-page-nav__toggle" class="page-nav__label">
    <span id="js-page-nav__label__content">Inhalte</span>
    <img class="page-nav__arrow" src="{{ baseurl }}_assets/img/arrow--down.svg" alt="Pfeil nach unten">
  </label>
  <div class="l-sidebar__aside">
    <nav class="page-nav">
      <ul class="page-nav__items">
        <li class="page-nav__item"><a class="page-nav__link page-nav__link--is-active" href="#logo">Logo</a></li>
        <li class="page-nav__item"><a class="page-nav__link" href="#colors">Farben</a></li>
        <li class="page-nav__item"><a class="page-nav__link" href="#layout">Layout</a></li>
        <li class="page-nav__item"><a class="page-nav__link" href="#icons">Icons</a></li>
        <li class="page-nav__item"><a class="page-nav__link" href="#typo">Typographie</a></li>
      </ul>
    </nav>
  </div>
  <div class="l-sidebar__main l-stack--large">
    <section id="logo" class="l-stack waypoint" data-title="Logo">
      <h2 class="h2--adaptive">Logo</h2>
      <picture>
        <img src="{{ baseurl }}_assets/img/logo--huk24.svg" alt="Das HUK24 Logo">
      </picture>
    </section>

    {% include partials/colors.html %}

    <section id="layout" class="l-stack waypoint" data-title="Layout">
      <h2 class="h2--adaptive">Layout</h2>
      <h3 class="h3--adaptive">Größen</h3>
      <p>Das HUK24 Layout basiert auf der magischen Zahl 8. Alle Größen und Abstände entsprechen einem Vielfachen von 8px.</p>
      <h3 class="h3--adaptive">Grid</h3>
      <p></p>
      <h3 class="h3--adaptive">Breakpoints</h3>
      <p>Das HUK24 Layout basiert auf der magischen Zahl 8. Alle Größen und Abstände entsprechen einem Vielfachen von 8px.</p>
    </section>
    <section id="icons" class="l-stack waypoint" data-title="Icons">
      <h2 class="h1--adaptive">Icons</h2>
    </section>
    <section id="typo" class="l-stack waypoint" data-title="Typographie">
      <h2 class="h2--adaptive">Typographie</h2>
      <h3 class="h3--adaptive"><span class="font-400">Moderat Regulär und</span> Fett</h3>
      <h4 class="h4--adaptive">Überschriften</h4>
      <p>Moderat ist eine zeitgenössische Sans-Serif-Schrift, die sich durch eine charakteristische Kombination aus geometrischen Formen und einigen kantigen Akzenten auszeichnet. Für die KD-Lounge, eine von Studenten initiierte und getragene Vortragsreihe an der HTWG Konstanz, die sich mit Design und allen angrenzenden Disziplinen beschäftigt, wurde eine Schrift entworfen, die nicht nur auf Einladungen und Plakaten für die Lounge Verwendung fand, sondern auch zur Refinanzierung ebendieser dient. Unter den bisherigen Gästen der KD-Lounge waren Gestalter wie Kurt Weidemann, David Carson, Ruedi Baur, Erich Brechbühl, Götz Gramlich oder Sven Lindhorst-Emme.</p>
      <ul>
        <li class="h1--large">Überschrift 1+ 57px</li>
        <li class="h1">Überschrift 1 48px</li>
        <li class="h2">Überschrift 2 40px</li>
        <li class="h3">Überschrift 3 33px</li>
        <li class="h4">Überschrift 4 28px</li>
        <li class="h5">Überschrift 5 23px</li>
        <li class="h6">Überschrift 6 13px</li>
      </ul>
      <h4 class="h4--adaptive">Fließtext</h4>
      <ul>
        <li>Mobile 16px</li>
        <li>Desktop 19px</li>
      </ul>
    </section>
  </div>
</main>
<script type="text/javascript" src="{% if baseurl %}{{ baseurl }}{% endif %}_assets/js/waypoints.min.js"></script>
