<section id="colors" class="l-stack--200 waypoint wrapper" data-title="Farben">

  <div class="l-stack--100">
    <div>
      <a href="" class="anchor">Updated Yesterday <span class="icon">{% include ../_assets/img/i--chain.svg %}</span></a>
      <h1 class="h1--600">Farben</h1>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae possimus beatae praesentium ad quos quibusdam placeat vero doloribus inventore eum adipisci aut nulla voluptatem laudantium quidem explicabo nesciunt, laboriosam, necessitatibus?</p>
    <button class="btn btn--primary">Download</button>
  </div>

  <div class="l-stack--100">
    <h2>Primärfarben</h2>

    {%- for color in colors.primary -%}
    <ul class="palette">
      {%- for shade in color[1] -%}
      <li class="color">
        <svg class="color__bg-svg" viewBox="0 0 100 100" preserveAspectRatio="none">
          <rect width="100%" height="100%" fill="#{{ shade.hex }}"/>
        </svg>
        <div class="color__body">
          <div class="color__name">{{ shade.name }} {{ shade.number }}</div>
          <div class="color__value">#{{ shade.hex }}
          </div>
        </div>
      </li>
      {%- endfor -%}
    </ul>
    {%- endfor -%}
  </div>
  <div class="l-stack--100">
    <h3>Grautöne</h3>

    {%- for color in colors.neutral -%}
    <ul class="palette">
      {%- for shade in color[1] -%}
      <li class="color">
        <svg class="color__bg-svg" viewBox="0 0 100 100" preserveAspectRatio="none">
          <rect width="100%" height="100%" fill="#{{ shade.hex }}"/>
        </svg>
        <div class="color__body">
          <div class="color__name">{{ shade.name }} {{ shade.number }}</div>
          <div class="color__value">#{{ shade.hex }}
          </div>
        </div>
      </li>
      {%- endfor -%}
    </ul>
    {%- endfor -%}
  </div>
</section>
