<header class="page-header">
  <div class="page-header__bar">
    <h1 class="logo-parma">Parma 2020</h1>
    <label id="js-nav-label" class="nav-label" for="site-nav-toggle"
      >Menü</label
    >
  </div>
  <input id="site-nav-toggle" class="nav-toggle" type="checkbox" />
  <nav class="site-nav">
    <ul class="site-nav__items">
      <li class="site-nav__item">
        <a
          class="site-nav__link{% if title == 'brand core' %} site-nav__link--active{% endif %}"
          href="/"
          >Brand Core</a
        >
      </li>
      <li class="site-nav__item">
        <a
          class="site-nav__link{% if title == 'design' %} site-nav__link--active{% endif %}"
          href="/design"
          >Assets</a
        >
      </li>
      <li class="site-nav__item">
        <a
          class="site-nav__link{% if title == 'showcase' %} site-nav__link--active{% endif %}"
          href="/design"
          >Showcase</a
        >
      </li>
    </ul>
  </nav>
</header>
