

<section id="icons" class="l-stack--200 wrapper waypoint" data-title="Icons">
  <div class="l-stack--100">
    <div>
      <a href="" class="anchor">Updated Yesterday <span class="icon">{% include ../_assets/img/i--chain.svg %}</span></a>
      <h1 class="h1--600">Icons</h1>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae possimus beatae praesentium ad quos quibusdam placeat vero doloribus inventore eum adipisci aut nulla voluptatem laudantium quidem explicabo nesciunt, laboriosam, necessitatibus?</p>
  </div>

  <div class="l-stack--100">
    <h2>Taxonomie</h2>
    <div class="l-stack--100 l-flex--tablet-up">
      <div class="l-flex__child l-stack--75">
        <h3>Isometrisch</h3>
        <div class="sandbox">

        </div>
      </div>
      <div class="l-flex__child l-stack--75">
        <h3>UI-Icons</h3>
        <div class="sandbox">

        </div>
      </div>
    </div>
  </div>
  <div class="l-stack--100">
    <h2 id="spacing">Isometrisch</h2>
    <p>Die  Pfeilklammer steht für Sicherheit, Innovation, Digitalität und Differenzierung. Kurz: sie steht für den Anspruch der Marke, die digitale Speerspitze im HUK- Verbund zu sein.</p>
    <button class="btn btn--primary">Download</button>
  </div>
  <div class="l-stack--100">
    <h2 id="spacing">UI-Icons</h2>
    <p>Die  Pfeilklammer steht für Sicherheit, Innovation, Digitalität und Differenzierung. Kurz: sie steht für den Anspruch der Marke, die digitale Speerspitze im HUK- Verbund zu sein.</p>
    <button class="btn btn--primary">Download</button>
  </div>
</section>
