<section id="layout" class="l-stack waypoint wrapper" data-title="Layout">

  <div id="layout" class="l-full-page section--logo">
    <div class="section__typo">
      <h1 class="section__title">Ein ehrlicher Charakter</h1>
      <div class="section__body l-stack">
        <p class="section__hero">Lineare und geradlinige Abstände</p>
        {% include ../_assets/img/spacing.svg %}
        <p class="section__addendum">Die Makrotypografie (Layout, Textgestaltung) legt den optischen Gesamteindruck der Seite fest. Hier werden der Aufbau und das Format sowie die Anordnung aller textlichen und grafischen Elemente innerhalb des Satzspiegels bestimmt. Auch die Wahl der Schriftart(en) und das Festlegen der Größenverhältnisse von Texten zu Bildern ist Teil der Makrotypografie.</p>
      </div>
    </div>
  </div>

  <div id="breakpoints" class="l-full-page section--logo">
    <div class="section__typo">
      <h1 class="section__title">Im richtigen Moment schalten</h1>
      <div class="section__body l-stack">
        <p class="section__hero">Breakpoints</p>
        <p class="section__addendum">Die Makrotypografie (Layout, Textgestaltung) legt den optischen Gesamteindruck der Seite fest. Hier werden der Aufbau und das Format sowie die Anordnung aller textlichen und grafischen Elemente innerhalb des Satzspiegels bestimmt. Auch die Wahl der Schriftart(en) und das Festlegen der Größenverhältnisse von Texten zu Bildern ist Teil der Makrotypografie.</p>
      </div>
    </div>
    <div id="js-wireframes" class="wireframes">
      {% include ../_assets/img/wireframe--all.svg %}
    </div>
  </div>

  <div id="page-grid" class="l-full-page section--logo">
    <div class="section__typo">
      <h1 class="section__title">Ein ehrlicher Charakter</h1>
      <div class="section__body l-stack">
        <p class="section__hero">Grid</p>
      </div>
    </div>
  </div>
  <!-- <h2 class="h2--adaptive">Layout</h2>
  <h3 class="h3--adaptive">Größen</h3>
  <p>Das HUK24 Layout basiert auf der magischen Zahl 8. Alle Größen und Abstände entsprechen einem Vielfachen von 8px.</p>
  <h3 class="h3--adaptive">Grid</h3>
  <p></p>
  <h3 class="h3--adaptive">Breakpoints</h3>
  <p>Das HUK24 Layout basiert auf der magischen Zahl 8. Alle Größen und Abstände entsprechen einem Vielfachen von 8px.</p> -->
</section>
