<section id="layout" class="l-stack--300 waypoint wrapper" data-title="Layout">
  <div class="l-stack--100">
    <div>
      <a href="" class="anchor">Aktualisiert am <time datetime="{{ page.date | dateIso }}">{{ page.date | dateReadable }}</time> <span class="icon">{% include ../_assets/img/i--chain.svg %}</span></a>
      <h1 class="h1--600">Layout</h1>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae possimus beatae praesentium ad quos quibusdam placeat vero doloribus inventore eum adipisci aut nulla voluptatem laudantium quidem explicabo nesciunt, laboriosam, necessitatibus?</p>
  </div>
  <div class="l-stack--100">
    <h2 id="grid">Grid</h2>
    <p>Die  Pfeilklammer steht für Sicherheit, Innovation, Digitalität und Differenzierung. Kurz: sie steht für den Anspruch der Marke, die digitale Speerspitze im HUK- Verbund zu sein.</p>
    <button class="btn btn--primary">Download</button>
    <div class="sandbox">
      <div id="js-wireframes" class="wireframes">
        {% include ../_assets/img/wireframe--all.svg %}
      </div>
      <div class="sandbox__popover">
        <div class="switcher">
          <ul class="switcher__items">
            <li class="switcher__item"><a href="#" data-offset="0%" class="js-switcher switcher__link switcher__link--is-active">Mobile</a></li>
            <li class="switcher__item"><a href="#" data-offset="-100%" class="js-switcher switcher__link">Tablet</a></li>
            <li class="switcher__item"><a href="#" data-offset="-200%" class="js-switcher switcher__link">Desktop</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="l-stack--100">
    <h2 id="spacing">Abstände</h2>
    <p>Die  Pfeilklammer steht für Sicherheit, Innovation, Digitalität und Differenzierung. Kurz: sie steht für den Anspruch der Marke, die digitale Speerspitze im HUK- Verbund zu sein.</p>
    <div class="sandbox">
      {% include ../_assets/img/spacing.svg %}
    </div>
  </div>
  <div class="l-stack--100">
    <h3>Website</h3>
    <div class="sandbox">
      website pic
    </div>
  </div>
  <div class="l-stack--100">
    <h3>Tarifrechner</h3>
    <div class="sandbox">
      Tarifrechner
    </div>
  </div>
  <div class="l-stack--100">
    <h2>Buttons</h2>
    <div class="l-stack--75">
      <p>Es gibt zwei Button-Varianten. Die Höhe des Buttons orientiert sich an der gewählten Base Fontsize:</p>
      <p>Kleine Variante bei Schriftgröße 16px <br>Große Variante bei Schriftgröße 19px</p>
      <p>Der Border-Radius ist 4px. Die Farbigkeit bleibt in beiden Varianten gleich.</p>
    </div>
  </div>
  <div class="l-stack--100">
    <div class="l-stack--100 l-flex--desktop-up">
      <div class="l-flex__child l-stack--75">
        <div class="l-stack--50">
          <h3 class="h5">Konstruktion</h3>
          <h4 class="h6">Große Variante</h4>
        </div>
        <div class="sandbox">
          <div class="l-flex l-flex-wrap">
            {% include ../_assets/img/btn--primary--deconstructed.svg %}
          </div>
        </div>
      </div>
      <div class="l-flex__child l-stack--75">
        <div class="l-stack--50">
          <h3 class="h5">Konstruktion</h3>
          <h4 class="h6">Kleine Variante</h4>
        </div>
        <div class="sandbox">
          <div class="l-flex l-flex-wrap">
            {% include ../_assets/img/btn--primary--small--deconstructed.svg %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-stack--100">
    <h3 class="h4">Primärbutton</h3>
    <p>Der Primäre Button ist das Leitelement für den HUK24-Nutzer. Jeder Verlinkung auf eine neue Seite, wird mit dem Primary Button angekündigt und dient dem Nutzer so als verständlichen Guide durch die Webseite.</p>
  </div>
  <div class="l-stack--100">
    <div class="l-stack--100 l-flex--desktop-up">
      <div class="l-flex__child l-stack--75">
        <h3 class="h5">Große Variante</h3>
        <div class="sandbox">
          <div class="l-flex l-flex-wrap">
          {% include ../_assets/img/btn--primary.svg %}
          </div>
        </div>
      </div>
      <div class="l-flex__child l-stack--75">
        <h3 class="h5">Kleine Variante</h3>
        <div class="sandbox">
          <div class="l-flex l-flex-wrap">
            {% include ../_assets/img/btn--primary--small.svg %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-stack--100">
    <h3 class="h4">Sekundärbutton</h3>
    <p>Der Sekundär Button ist das aktivierende Element für den HUK24-Nutzer. Jeder Klick des Nutzers führt eine Aktion direkt auf der aktuellen Seite aus. Während der Primäre Button eine weiterleitende Funktion hat, wird der Sekundär-Button für direkte Aktionen im sichtbaren Bereich des Nutzers verwendet.</p>
  </div>
  <div class="l-stack--100">
    <div class="l-stack--100 l-flex--desktop-up">
      <div class="l-flex__child l-stack--75">
        <h3 class="h5">Große Variante</h3>
        <div class="sandbox">
          <div class="l-flex l-flex-wrap">
          {% include ../_assets/img/btn--secondary.svg %}
          </div>
        </div>
      </div>
      <div class="l-flex__child l-stack--75">
        <h3 class="h5">Kleine Variante</h3>
        <div class="sandbox">
          <div class="l-flex l-flex-wrap">
            {% include ../_assets/img/btn--secondary--small.svg %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
