<section id="layout" class="l-stack--200 waypoint wrapper" data-title="Layout">

  <div class="l-stack--200">
    <div class="l-stack--100">
      <div>
        <a href="" class="anchor">Updated Yesterday <span class="icon">{% include ../_assets/img/i--chain.svg %}</span></a>
        <h1 class="h1--600">Layout</h1>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae possimus beatae praesentium ad quos quibusdam placeat vero doloribus inventore eum adipisci aut nulla voluptatem laudantium quidem explicabo nesciunt, laboriosam, necessitatibus?</p>
    </div>
    <div class="l-stack--100">
      <h2 id="grid">Grid</h2>
      <p>Die  Pfeilklammer steht für Sicherheit, Innovation, Digitalität und Differenzierung. Kurz: sie steht für den Anspruch der Marke, die digitale Speerspitze im HUK- Verbund zu sein.</p>
      <button class="btn btn--primary">Download</button>
      <div class="sandbox">
        <div id="js-wireframes" class="wireframes">
          {% include ../_assets/img/wireframe--all.svg %}
        </div>
        <div class="sandbox__popover">
          <div class="switcher">
            <ul class="switcher__items">
              <li class="switcher__item"><a href="#" class="switcher__link switcher__link--is-active">Mobile</a></li>
              <li class="switcher__item"><a href="#" class="switcher__link">Tablet</a></li>
              <li class="switcher__item"><a href="#" class="switcher__link">Desktop</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="l-stack--100">
      <h2 id="spacing">Abstände</h2>
      <p>Die  Pfeilklammer steht für Sicherheit, Innovation, Digitalität und Differenzierung. Kurz: sie steht für den Anspruch der Marke, die digitale Speerspitze im HUK- Verbund zu sein.</p>
      <div class="sandbox">
        {% include ../_assets/img/spacing.svg %}
      </div>
    </div>
    <div class="l-stack--100">
      <h3>Website</h3>
      <div class="sandbox">
        website pic
      </div>
    </div>
    <div class="l-stack--100">
      <h3>Tarifrechner</h3>
      <div class="sandbox">
        Tarifrechner
      </div>
    </div>
  </div>
</section>
