<section id="logo" class="l-full-page l-stack--large waypoint wrapper wrapper--padded section--logo" data-title="Logo">

  <div class="l-stack">

    <a href="" class="anchor">Updated Yesterday <span class="icon">{% include ../_assets/img/i--chain.svg %}</span></a>
    <h1 class="h1--adaptive">Logo</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae possimus beatae praesentium ad quos quibusdam placeat vero doloribus inventore eum adipisci aut nulla voluptatem laudantium quidem explicabo nesciunt, laboriosam, necessitatibus?</p>
    <button class="btn btn--primary">Download</button>

    <div class="sandbox">
      {% include ../_assets/img/logo--claim--2.svg %}

      <div class="switcher">
        <ul class="switcher__items switcher__items--color">
          <li class="switcher__item"><a href="#" class="js-toggle-page-bg switcher__link--color">Auf Weiß</a></li>
          <li class="switcher__item"><a href="#" data-class="page--is-dark" class="js-toggle-page-bg switcher__link--color switcher__link--is-dark">Auf Schwarz</a></li>
          <li class="switcher__item"><a href="#" data-class="page--is-colored" class="js-toggle-page-bg switcher__link--color switcher__link--is-colored">Auf Orange</a></li>
        </ul>

        <ul class="switcher__items">
          <li class="switcher__item"><a href="#" class="switcher__link js-toggle-grid">Raster</a></li>
          <li class="switcher__item"><a href="#" class="switcher__link js-toggle-safe-zone">Schutzzone</a></li>
          <li class="switcher__item"><a href="#" class="switcher__link switcher__link--is-active js-toggle-claim">Claim</a></li>
          <li class="switcher__item"><a href="#" class="switcher__link js-toggle-reduced">Reduziert</a></li>
        </ul>
      </div>
    </div>

    <div class="section__typo">
      <h1 class="section__title">Variationen</h1>
      <div class="section__body">
        <p class="section__hero">Kompakte & geometrische Form</p>
        <p class="section__addendum">Die  Pfeilklammer steht für Sicherheit, Innovation, Digitalität und Differenzierung. Kurz: sie steht für den Anspruch der Marke, die digitale Speerspitze im HUK- Verbund zu sein.</p>
      </div>
    </div>

    <div>
      <h3>Reduziert</h3>
      <div class="sandbox">

      </div>
      <h3>App Icon</h3>
      <div class="sandbox">

      </div>
    </div>
  </div>

</section>
