
<section id="logo" class="l-stack--300 waypoint wrapper section--logo" data-title="Logo">

    <div class="l-stack--100">
      <div class="l-stack--50">
        <a href="" class="anchor">Aktualisiert am <time datetime="{{ page.date | dateIso }}">{{ page.date | dateReadable }}</time> <span class="icon">{% include ../_assets/img/i--chain.svg %}</span></a>
        <h1 class="h1--600">Logo</h1>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae possimus beatae praesentium ad quos quibusdam placeat vero doloribus inventore eum adipisci aut nulla voluptatem laudantium quidem explicabo nesciunt, laboriosam, necessitatibus?</p>
      <button class="btn btn--primary">Download</button>
    </div>

    <div class="sandbox">
      {% include ../_assets/img/logo--claim--2.svg %}

      <div class="sandbox__popover">
        <div class="switcher">
          <ul class="switcher__items switcher__items--color">
            <li class="switcher__item"><a href="#" class="js-toggle-page-bg switcher__link--color">Auf Weiß</a></li>
            <li class="switcher__item"><a href="#" data-class="page--is-dark" class="js-toggle-page-bg switcher__link--color switcher__link--is-dark">Auf Schwarz</a></li>
            <li class="switcher__item"><a href="#" data-class="page--is-colored" class="js-toggle-page-bg switcher__link--color switcher__link--is-colored">Auf Orange</a></li>
          </ul>

          <ul class="switcher__items">
            <li class="switcher__item"><a href="#" class="switcher__link js-toggle-grid">Raster</a></li>
            <li class="switcher__item"><a href="#" class="switcher__link js-toggle-safe-zone">Schutzzone</a></li>
            <li class="switcher__item"><a href="#" class="switcher__link switcher__link--is-active js-toggle-claim">Claim</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="l-stack--75">
      <h2 id="logo__variations" class="h1--400">Variationen</h2>
      <p>Die  Pfeilklammer steht für Sicherheit, Innovation, Digitalität und Differenzierung. Kurz: sie steht für den Anspruch der Marke, die digitale Speerspitze im HUK- Verbund zu sein.</p>
    </div>

    <div class="l-stack--100 l-flex--desktop-up">
      <div class="l-flex__child l-stack--75">
        <h3 class="h1--300">Reduziert</h3>
        <div class="sandbox">
          <div class="l-flex l-flex-wrap">
          {% include ../_assets/img/logo--reduziert.svg %}
          </div>
        </div>
      </div>
      <div class="l-flex__child l-stack--75">
        <h3 class="h1--300">App Icon</h3>
        <div class="sandbox">
          <div class="l-flex l-flex-wrap">
            {% include ../_assets/img/app-icon--bright.svg %}
            {% include ../_assets/img/app-icon--colored.svg %}
            {% include ../_assets/img/app-icon--dark.svg %}
          </div>
        </div>
      </div>
    </div>

</section>
