<section id="logo" class="l-full-page l-stack waypoint section--logo" data-title="Logo">
  <!-- <h2 class="h2--adaptive">Logo</h2> -->

  <!-- <div class="grid-toggle">
    <a href="#" class="js-toggle-grid grid-toggle__link">Grid</a>
  </div> -->

  {% include ../_assets/img/logo--claim--2.svg %}


  <div class="color-switcher">
    <ul class="color-switcher__items">
      <li class="color-switcher__item"><a href="#" class="js-toggle-page-bg color-switcher__link">Auf Weiß</a></li>
      <li class="color-switcher__item"><a href="#" data-class="page--is-dark" class="js-toggle-page-bg color-switcher__link color-switcher__link--is-dark">Auf Schwarz</a></li>
      <li class="color-switcher__item"><a href="#" data-class="page--is-colored" class="js-toggle-page-bg color-switcher__link color-switcher__link--is-colored">Auf Orange</a></li>
      <li class="color-switcher__item"><a href="#" class="js-toggle-grid grid-toggle__link">Grid</a></li>
    </ul>
  </div>

  <!-- <svg viewBox="0 0 320 48" preserveAspectRatio="none">
    <polygon points="256,0 320,0 320,48 256,48" fill="#fef1da"></polygon>
    <polygon points="192,0 256,0 272,24 256,48 192,48" fill="#ffd385"></polygon>
    <polygon points="128,0 192,0 208,24 192,48 128,48" fill="#fba308"></polygon>
    <polygon points="64,0 128,0 144,24 128,48 64,48" fill="#fb9105"></polygon>
    <polygon points="0,0 64,0 80,24 64,48 0,48" fill="#f0670a"></polygon>
  </svg> -->
</section>
