<section id="test" class="l-stack--300 waypoint wrapper" data-title="Test">
  <div class="l-stack--100">
    <div class="l-stack--50">
      <a href="" class="anchor"
        >Aktualisiert am
        <time datetime="{{ page.date | dateIso }}">{{
          page.date | dateReadable
        }}</time>
        <span class="icon">{% include ../_assets/img/i--chain.svg %}</span></a
      >
      <h1 class="h1--600">Farben-Babuschka</h1>
    </div>
    <p>
      SCHubi dubi
    </p>
    <button class="btn btn--primary">Download</button>
  </div>

  <div class="l-stack--100">
    <h2 id="test__primary" class="h1--400">Primärfarben-test</h2>
    <p>{{ site.baseurl }}</p>
    <div>
      {%- for color in colors.primary -%}
      <ul class="palette">
        {%- for shade in color[1] -%}
        <li class="color">
          <svg
            class="color__bg-svg"
            viewBox="0 0 100 100"
            preserveAspectRatio="none"
          >
            <rect width="100%" height="100%" fill="#{{ shade.hex }}" />
          </svg>
          <div class="color__body">
            <div class="color__name">{{ shade.name }} {{ shade.number }}</div>
            <div class="color__value">#{{ shade.hex }}</div>
          </div>
        </li>
        {%- endfor -%}
      </ul>
      {%- endfor -%}
    </div>
  </div>
  <div class="l-stack--100">
    <h2 id="test__neutrals" class="h1--400">Grautöne-test</h2>

    {%- for color in colors.secondary -%}
    <ul class="palette">
      {%- for shade in color[1] -%}
      <li class="color">
        <svg
          class="color__bg-svg"
          viewBox="0 0 100 100"
          preserveAspectRatio="none"
        >
          <rect width="100%" height="100%" fill="#{{ shade.hex }}" />
        </svg>
        <div class="color__body">
          <div class="color__name">{{ shade.name }} {{ shade.number }}</div>
          <div class="color__value">#{{ shade.hex }}</div>
        </div>
      </li>
      {%- endfor -%}
    </ul>
    {%- endfor -%}
  </div>
</section>
