

<section id="typo" class="l-stack--300 wrapper waypoint" data-title="Typographie">
  <div class="l-stack--100">
    <div class="l-stack--50">
      <a href="" class="anchor">Aktualisiert am <time datetime="{{ page.date | dateIso }}">{{ page.date | dateReadable }}</time> <span class="icon">{% include ../_assets/img/i--chain.svg %}</span></a>
      <h1 class="h1--600">Typographie</h1>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae possimus beatae praesentium ad quos quibusdam placeat vero doloribus inventore eum adipisci aut nulla voluptatem laudantium quidem explicabo nesciunt, laboriosam, necessitatibus?</p>
  </div>
  <div class="l-stack--100">
    <h2>Beispiel</h2>
    <div class="sandbox">
      Beispiel
    </div>
  </div>
</section>
