.brand-personality {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: calc(100vh - (4rem + var(--growthRatio)));
  padding: 20vh 0;
}

@media (min-width: 36rem) {

  .brand-personality {
    min-height: calc(100vh - (6rem + var(--growthRatio)));
  }
}

@media (min-width: 48rem) {

  .brand-personality {
    min-height: calc(100vh - (8rem + var(--growthRatio)));
  }
}

@media (min-width: 75rem) {

  .brand-personality {
    min-height: calc(100vh - (10rem + var(--growthRatio)));
  }
}
