@font-face {
    font-family: 'Apercu';
    src: url('../../fonts/Apercu.woff') format('woff')
    font-display: auto;
    font-weight: normal;
    font-style: sans-serif;
}

@font-face {
    font-family: 'Apercu';
    src: url('../../fonts/Apercu-Bold.woff') format('woff')
    font-display: auto;
    font-weight: bold;
    font-style: sans-serif;
}

@font-face {
    font-family: 'Apercu';
    src: url('../../fonts/Apercu-Light.woff') format('woff')
    font-display: auto;
    font-weight: 100;
    font-style: sans-serif;
}

