.page-header {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: calc(4rem + var(--growthRatio));
  margin: 0;
  padding: 0;
}

.page-header__bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: calc(0.5rem + var(--growthRatio)) calc(1rem + var(--growthRatio)); */
  background: white;
  z-index: 900;
}

.logo-parma {
  background: url(../../img/produkte/logo-parma.svg) top left no-repeat;
  background-size: contain;
  background-position: left center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
