

.page--is-dark .letter,
.page--is-dark .claim {
  fill: var(--c-white);
}

.page--is-dark .letter--2,
.page--is-dark .letter--4 {
  fill: var(--c-orange-300);
}

.page--is-colored {
  background-color: var(--c-orange-300);
}

.page--is-colored .letter,
.page--is-colored .claim {
  fill: var(--c-black);
}

.page--is-colored .letter--2,
.page--is-colored .letter--4 {
  fill: var(--c-white);
}

.page--is-colored .cell {
  stroke: var(--c-white);
}

.section--logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-toggle {
  display: flex;
  justify-content: flex-end;
}

.grid-toggle__link {
  display: block;
  width: calc(1rem + var(--growthRatio));
  height: calc(1rem + var(--growthRatio));
  background: url(../../img/i--grid.svg) center no-repeat var(--c-white);
  background-size: cover;
  border-radius: 50%;
  border: 1px solid var(--c-neutral-100);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  transition: .1s transform ease-out;
}

.grid-toggle__link:hover {
  transform: scale(1.1);
}

.grid-toggle__link:active {
  transform: scale(.98);
}

.color-switcher__items {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.color-switcher__item + .color-switcher__item {
  margin-left: calc(2rem + var(--growthRatio));
}

.color-switcher__link {
  display: block;
  width: calc(1rem + var(--growthRatio));
  height: calc(1rem + var(--growthRatio));
  background-color: var(--c-white);
  border-radius: 50%;
  border: 1px solid var(--c-neutral-100);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  transition: .1s transform ease-out;
}

.color-switcher__link:hover {
  transform: scale(1.05);
}

.color-switcher__link:active {
  transform: scale(.98);
}

.color-switcher__link--is-dark,
.color-switcher__link--is-colored {
  border-color: transparent;
}

.page--is-dark .color-switcher__link--is-dark {
  border-color: var(--c-neutral-700);
}

.page--is-colored .color-switcher__link--is-colored {
  border-color: var(--c-orange-200);
}

.color-switcher__link--is-dark {
  background-color: var(--c-neutral-900);
}

.color-switcher__link--is-colored {
  background-color: var(--c-orange-300);
}

.section__typo {
  max-width: 60ch;
}

.section__title {
  margin: 0 0 1rem;
  font-size: var(--h6-size);
  line-height: var(--h6-height);
  text-transform: uppercase;
}

.section__hero {
  margin: 0;
  font-size: calc(var(--h5-size) + 1vw);
  line-height: calc(var(--h5-line-height) + 1vw);
  font-weight: bold;
}
