
.page-nav {
  position: absolute;
  top: calc(7rem + var(--growthRatio));
  z-index: 800;
  width: 100%;
  height: calc(100vh - calc(3rem + var(--growthRatio)));
  padding: calc(.5rem + var(--growthRatio)) calc(1rem + var(--growthRatio));
  background: var(--c-neutral-900);
  color: var(--c-white);
  transition: transform .2s ease-out;
  transform: translateY(-100vh);
  overflow-y: scroll;
}

.page-nav--is-top-animatable {
  transition: top .3s ease-in-out;
}

:checked ~ div .page-nav {
  transform: translateY(0);
}

.page-nav--is-fixed .page-nav__label {
  position: fixed;
  top: 0;
  z-index: 901;
  width: 100%;
}

.page-nav--is-fixed .page-nav {
  position: fixed;
  top: calc(3rem + var(--growthRatio));
  z-index: 900;
}

.page-nav--is-fixed :checked ~ div .page-nav {
  top: calc(3rem + var(--growthRatio))
}

.page-nav__toggle {
  display: none;
}

.page-nav__label {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 901;
  padding: calc(.5rem + var(--growthRatio)) calc(2rem + var(--growthRatio)) calc(.5rem + var(--growthRatio)) calc(1rem + var(--growthRatio));
  border-bottom: 1px solid var(--c-neutral-100);
  line-height: calc(2rem + var(--growthRatio));
  font-weight: bold;
  background-color: var(--c-white);
}

.page--is-dark .page-nav__label {
  color: var(--c-neutral-800);
}

.page-nav__arrow {
  transition: transform .4s ease-in-out;
}

:checked ~ .page-nav__label .page-nav__arrow {
  transform: rotateX(180deg);
}

.page-nav__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-nav__item {
  position: relative;
}

.page-nav__icon {
  display: inline-block;
  width: calc(.5rem + var(--growthRatio));
  max-width: .7rem;
  height: auto;
  margin-right: calc(.25rem + var(--growthRatio));
  opacity: 0;
  transition: opacity .2s linear;
}

.page-nav__icon--is-active {
  opacity: 1;
}

.page-nav__icon svg {
  width: 100%;
  height: auto;
}

.page-nav__icon path {
  fill: var(--c-orange-300);
}

.page--is-colored .page-nav__icon path {
  fill: var(--c-black);
}

.page-nav__link--is-active ~ .page-nav__icon {
  opacity: 1;
}

.page-nav__item + .page-nav__item {
  margin-top: var(--s0);
}

.page-nav__link {
  display: inline-block;
  padding: calc(.25rem + var(--growthRatio)) 0;
  line-height: calc(2rem + var(--growthRatio));
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.page-nav__link--is-active {
  color: inherit;
}

.subnav-wrapper {
  height: 0;
  overflow: hidden;
  transition: height .2s ease-in-out;
}

.page-subnav {
  margin: 0 0 0 calc(calc(1.75rem + var(--growthRatio) + 1px));
  padding: 0;
  list-style-type: none;
  font-size: .8em;
  line-height: var(--base-line-height);
  color: var(--c-neutral-300);
}

.page--is-dark .page-subnav {
  color: var(--c-neutral-300);
}

.page--is-colored .page-subnav {
  color: var(--c-neutral-800);
}

.page-subnav__link {
  line-height: calc(2rem + var(--growthRatio));
  text-decoration: none;
  color: inherit;
}

@media (min-width: 48rem) {

  .page-nav__toggle,
  .page-nav__label {
    display: none;
  }

  .page-nav {
    position: absolute;
    top: calc(6rem + var(--growthRatio));
    bottom: 0;
    width: auto;
    height: auto;
    padding: calc(2rem + var(--growthRatio)) 0 0;
    background: transparent;
    color: var(--c-neutral-900);
    transform: translateY(0);
    /* transition: top .2s ease-in-out; */
  }

  .page--is-dark .page-nav {
    color: var(--c-white);
  }

  .page--is-colored .page-nav {
    color: var(--c-black);
  }

  .page-nav--is-fixed .page-nav {
    top: 0;
  }

  .page-nav__item + .page-nav__item {
    margin-top: calc(var(--s1) + var(--growthRatio));
  }

  .page-nav__link {
    padding: .25rem 0;
  }

  .page-subnav {
    color: var(--c-neutral-500);
  }

  .page--is-colored .page-nav__link--is-active {
    color: var(--c-white);
  }
  .page-nav {
    top: calc(8rem + var(--growthRatio));
  }
}

@media (min-width: 75rem) {
  .page-nav {
    top: calc(10rem + var(--growthRatio));
  }
}
