
.page-nav {
  position: absolute;
  top: 7rem;
  width: 100%;
  height: calc(100vh - 3rem);
  padding: .5rem 0;
  background: var(--c-orange-300);
  color: var(--c-white);
  transition: transform .2s ease-out;
  transform: translateY(-100vh);
}

:checked ~ div .page-nav {
transform: translateY(0);
}

.page-nav--is-fixed {
  margin-top: 3rem;
}

.page-nav--is-fixed .page-nav__label {
  position: fixed;
  top: 0;
  width: 100%;
}

.page-nav--is-fixed .page-nav {
  position: fixed;
  top: 3vh;
}

.page-nav--is-fixed :checked ~ div .page-nav {
  top: 3rem
}

.page-nav__toggle {
  display: none;
}

.page-nav__label {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 700;
  padding: .5rem 2rem .5rem 1rem;
  line-height: 2rem;
  background-color: var(--c-white);
}

.page-nav__arrow {
  transition: transform .4s ease-in-out;
}

:checked ~ .page-nav__label .page-nav__arrow {
  transform: rotateX(180deg);
}

.page-nav__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-nav__link {
  display: block;
  padding: .5rem 1rem;
  line-height: 2rem;
  color: inherit;
  text-decoration: none;
}
