
.sandbox {
  padding: calc(2rem + 3vw);
  position: relative;
  background: var(--c-neutral-50);
}

.sandbox__popover {
  margin: calc(2rem + var(--growthRatio)) calc(-1.5rem - 3vw) calc(-1.5rem - 3vw);
}

.page--is-dark .sandbox {
  background: var(--c-neutral-900);
}

.page--is-colored .sandbox {
  background: var(--c-orange-300);
}

@media (min-width: 64rem) {

  .sandbox {
    padding: calc(4rem + var(--growthRatio));
  }

  .sandbox__popover {
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 0;
    transform: translateX(-50%) translateY(-50%);
  }
}
