
/* HIDE input by default */
.nav-toggle {
  display:none;
}

.nav-label {
  position: relative;
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.nav-label:before,
.nav-label:after {
  content: " ";
  position: absolute;
  left: calc(50% - .5rem);
  width: 1rem;
  height: .125rem;
  background: var(--c-neutral-900);
  border-radius: 999rem;
  transform-origin: center;
  transition: transform .3s ease-in;
}

.nav-label:before {
  top: calc((50% - 1px) - .2rem);
}

.nav-label:after {
  top: calc((50% - 1px) + .2rem);
}

.nav-label--is-active:before {
  transform: translateY(.2rem) rotateZ(45deg);
}

.nav-label--is-active:after {
  transform: translateY(-.2rem) rotateZ(-45deg);
}

.site-nav {
  height: calc(100vh - 3rem);
  padding: .5rem 0;
  background: var(--c-mint-300);
  color: var(--c-white);
  transform: translateY(-150%);
  transition: .3s ease-in;
  transform-origin: bottom;
}

.site-nav__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-nav__link {
  display: block;
  padding: .5rem 1rem;
  font-size: var(--h5-size);
  color: inherit;
  text-decoration: none;
}

.site-nav__item {
  transform: translateY(-30%);
}

/* .site-nav__item:nth-child(1) {
  transition: transform .2s .05s ease-in;
}

.site-nav__item:nth-child(2) {
  transition: transform .2s .1s ease-in;
}

.site-nav__item:nth-child(3) {
  transition: transform .2s .15s ease-in;
} */

/* SHOW nav when input is checked */
:checked ~ .site-nav {
  transform: translateY(0);
  transition: .3s ease-out;
}

:checked ~ .site-nav .site-nav__item {
  transform: translateY(0);
}

/* :checked ~ .site-nav .site-nav__item:first-child {
  transition: transform .3s .08s cubic-bezier(0.110, 1.650, 0.535, 0.855);
}

:checked ~ .site-nav .site-nav__item:nth-child(2) {
  transition: transform .3s .11s cubic-bezier(0.110, 1.650, 0.535, 0.855);
}

:checked ~ .site-nav .site-nav__item:nth-child(3) {
  transition: transform .3s .14s cubic-bezier(0.110, 1.650, 0.535, 0.855);
} */

@media (min-width: 32rem) {

  .nav-label {
    display: none;
  }

  .nav-toggle ~ .site-nav {
    display: block;
    margin-left: auto;
    background: transparent;
    /* box-shadow: none; */
    transform: translateY(0);
  }

  .nav-toggle ~ .site-nav .site-nav__item {
    margin: 0 0 0 calc(var(--base-font-size) * 2);
    white-space: nowrap;
    transform: translateY(0);
  }

  .nav-toggle ~ .site-nav .site-nav__item:first-child {
    margin-left: auto;
  }

  .nav-toggle ~ .site-nav .site-nav__link {
    color: var(--c-neutral-900);
  }

  .nav-toggle ~ .site-nav .site-nav__link--active {
    color: var(--c-orange-300);
  }

  .site-nav {
    margin: 0;
    padding: calc(var(--base-font-size) * 1.5);
  }

  .site-nav__items {
    display: flex;
    margin: 0;
  }
}
