/* HIDE input by default */
.nav-toggle {
  display: none;
}
.site-nav__items {
  display: flex;
}

.site-nav__link {
  font-size: var(--text-m);
  display: inline-block;
  margin-left: var(--spacing-2);
}
