
.switcher {
  padding: calc(1rem + .5vw) calc(1rem + 1vw);
  background: var(--c-neutral-900);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1),
              0 10px 20px rgba(0,0,0,.08);
  color: var(--c-white);
}

.switcher__items + .switcher__items {
  margin-top: calc(1rem + var(--growthRatio));
}

.switcher__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.switcher__items--color {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.switcher__item + .switcher__item {
  margin-top: calc(.5rem + var(--growthRatio));
}

.switcher__items--color .switcher__item + .switcher__item {
  margin-top: 0;
}

.switcher__link,
.switcher__link:focus {
  padding: calc(.05rem + var(--growthRatio)) calc(1.25rem + var(--growthRatio)) calc(.2rem + var(--growthRatio));
  border-radius: 900rem;
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  transition: .2s ease-out;
}

.switcher__link:hover {
  background: var(--c-neutral-700);
  color: var(--c-white);
}

.switcher__link--is-active,
.switcher__link--is-active:focus {
  background: var(--c-orange-300);
}

.switcher__link--color {
  display: block;
  margin: 0 auto;
  width: calc(1.5rem + var(--growthRatio));
  height: calc(1.5rem + var(--growthRatio));
  background-color: var(--c-white);
  border-radius: 50%;
  border: 1px solid var(--c-neutral-100);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  transition: .1s transform ease-out;
  transform-origin: 50% 50%;
}

.switcher__link--color:hover {
  transform: scale(1.05);
}

.switcher__link--color:active {
  transform: scale(.98);
}

.switcher__link--is-dark,
.switcher__link--is-colored {
  border-color: transparent;
}

.switcher__link--is-dark {
  border-color: var(--c-neutral-700);
}

.page--is-colored .switcher__link--is-colored {
  border-color: var(--c-orange-200);
}

.switcher__link--is-dark {
  background-color: var(--c-neutral-900);
}

.switcher__link--is-colored {
  background-color: var(--c-orange-300);
}

@media (min-width: 64rem) {

  .switcher {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .switcher__items {
    display: flex;
  }

  .switcher__items + .switcher__items {
    margin: 0;
  }

  .switcher__items--color .switcher__item + .switcher__item {
    margin-left: calc(.25rem + var(--growthRatio));
  }

  .switcher__items:not(.switcher__items--color) .switcher__item {
    margin: 0 calc(.25rem + var(--growthRatio));
  }
}
