
.typo__regular,
.typo__medium,
.typo__bold {
  position: relative;
  padding: calc(.1rem + 3vw);
  font-size: calc(.5rem + 2vw);
  overflow: hidden;
}

.typo__regular {
  background: var(--c-neutral-900);
  border: 1px solid var(--c-neutral-900);
  font-weight: 400;
  color: var(--c-white);
}

.typo > div + div {
  margin-top: calc(1rem + var(--growthRatio));
}

.typo__regular::before,
.typo__medium::before,
.typo__bold::before {
  content: "Moderat Regular";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  padding: calc(.5rem + var(--growthRatio)) calc(1rem + var(--growthRatio));
  background: var(--c-white);
  color: var(--c-neutral-900);
  font-size: calc(1rem + var(--growthRatio));
  font-weight: 400;
  transition: transform .2s ease-out;
  transform: translateY(100%);
}

.typo__regular:hover::before,
.typo__medium:hover::before,
.typo__bold:hover::before,
.typo__regular:focus::before,
.typo__medium:focus::before,
.typo__bold:focus::before {
  transform: translateY(0);
}

.typo__medium::before {
  content: "Moderat Medium";
  font-weight: 500;
}

.typo__bold::before {
  content: "Moderat Bold";
  font-weight: 700;
}

.typo__medium {
  border: 1px solid var(--c-neutral-900);
  font-weight: 500;
}

.typo__bold {
  background: var(--c-mint-400);
  border: 1px solid var(--c-mint-400);
  font-weight: 700;
  color: var(--c-white);
}

@media (min-width: 48rem) {

  .typo__inner {
    position: absolute;
    top: 50%;
    width: calc(100% - ((.1rem + 3vw) * 2));
    transform: translateY(-50%);
  }

  .typo__regular::after,
  .typo__medium::after,
  .typo__bold::after {
    content: " ";
    display: block;
    padding-bottom: 100%;
  }

  .typo__medium::after,
  .typo__bold::after {
    padding-bottom: 200%;
  }

  .typo :nth-child(2),
  .typo :nth-child(3) {
    float: left;
    width: calc(50% - ((1rem + var(--growthRatio)) / 2));
  }

  .typo :nth-child(3) {
    margin-left: calc(1rem + var(--growthRatio));
  }
}

@media (min-width: 64rem) {

  .typo__inner {
    position: static;
    width: auto;
    transform: none;
  }

  .typo > div + div {
    margin-top: 0;
  }

  .typo__regular::after,
  .typo__medium::after,
  .typo__bold::after {
    content: none;
  }

  .typo > :nth-child(1),
  .typo > :nth-child(2),
  .typo > :nth-child(3) {
    float: left;
    width: calc(33% - ((1rem + var(--growthRatio))));
    margin-bottom: 0;
  }

  .typo > :nth-child(2),
  .typo > :nth-child(3) {
    margin-left: calc(1rem + var(--growthRatio));
  }
}
