.wrapper {
  padding: 0 calc(1rem + var(--growthRatio));
}

@media (min-width: 36rem) {

  .wrapper {
    padding-left: calc(1.5rem + var(--growthRatio));
  }
}

@media (min-width: 48rem) {

  .wrapper {
    padding-left: calc(3rem + var(--growthRatio));
  }
}

@media (min-width: 75rem) {

  .wrapper {
    padding-left: calc(5rem + var(--growthRatio));
  }
}
