
.l-flex {
  display: flex;
  justify-content: center;
}

.l-flex-wrap {
  flex-wrap: wrap;
}

.l-flex__child {
  flex: 1;
}

.l-flex > .l-flex__child + .l-flex__child {
  margin-left: calc(1rem + var(--growthRatio));
}

@media (min-width: 48rem) {

  .l-flex--tablet-up {
    display: flex;
    justify-content: space-between;
  }

  .l-flex--tablet-up > .l-flex__child + .l-flex__child {
    margin: 0 0 0 calc(2rem + var(--growthRatio));
  }
}

@media (min-width: 64rem) {

  .l-flex--desktop-up {
    display: flex;
    justify-content: space-between;
  }

  .l-flex--desktop-up > .l-flex__child + .l-flex__child {
    margin: 0 0 0 calc(2rem + var(--growthRatio));
  }

  .l-flex--desktop-up .sandbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }
}
