
.l-sidebar__main {
  padding: 2rem 1rem;
}

/* .l-sidebar__aside {
  position: fixed;
  top: 7rem;
  width: 100%;
  transform: translateY(-34rem);
  transition: transform .2s ease-out;
}

.page-nav--is-fixed .l-sidebar__main {
  top: 4rem;
} */

/* :checked ~ .l-sidebar__aside {
  transform: translateY(0);
} */


@media (min-width: 36rem) {

  .l-sidebar {
    display: grid;
    grid-template-columns: minmax(7rem, 20rem) minmax(25rem, 1fr);
  }

  .l-sidebar__main,
  .l-sidebar__aside {
    padding: 0 1.5rem;
  }
}
