
.l-sidebar__main {
  /* padding: 0 0 0 calc(1rem + var(--growthRatio)); */
}

@media (min-width: 48rem) {

  .l-sidebar {
    display: grid;
    grid-template-columns: minmax(calc(7rem + var(--growthRatio)), calc(15rem + var(--growthRatio))) minmax(calc(25rem + var(--growthRatio)), 1fr);
    margin-top: .5rem;
  }

  .l-sidebar__main,
  .l-sidebar__aside {
    padding: 0 calc(1.5rem + var(--growthRatio));
  }

  .l-sidebar__main {
    padding-right: 0;
  }

  .l-sidebar__aside {
    padding-left: calc(3rem + var(--growthRatio));
  }
}

@media (min-width: 75rem) {

  .l-sidebar__main {
    padding: 0 0 0 calc(2rem + var(--growthRatio));
  }

  .l-sidebar__aside {
    padding: 0 calc(2rem + var(--growthRatio)) 0 calc(5rem + var(--growthRatio));
  }
}
