
.l-stack--50 > * + * {
  margin-top: calc(.05rem + 1vw);
}

.l-stack--75 > * + * {
  margin-top: calc(.75rem + 1vw);
}

.l-stack--100 > * + * {
  margin-top: calc(1rem + 1vw);
}

.l-stack--200 > * + * {
  margin-top: calc(2rem + 1vw);
}

.l-stack--300 > * + * {
  margin-top: calc(4rem + 2vw);
}

.l-stack--400 > * + * {
  margin-top: calc(6rem + 2vw);
}

.l-stack--500 > * + * {
  margin-top: calc(8rem + 2vw);
}

.l-stack--600 > * + * {
  margin-top: calc(12rem + 3vw);
}
