
.l-stack--50 > * + * {
  margin-top: calc(.5rem + 1vw);
}

.l-stack--75 > * + * {
  margin-top: calc(.75rem + 1vw);
}

.l-stack--100 > * + * {
  margin-top: calc(1rem + 1vw);
}

.l-stack--200 > * + * {
  margin-top: calc(2rem + 1vw);
}

.l-stack--300 > * + * {
  margin-top: calc(12rem + 3vw);
}
